<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="en">

    <title>{% if page.title %}{{ site.title }} - {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!-- Twitter card -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{‌{ site.author.twitter }}" />
    <meta name="twitter:title" content="{% if page.title %}{{ site.title }} - {{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    <meta name="twitter:image" content="{{ site.author.avatar | prepend: BASE_PATH | prepend: site.external }}" />
    <meta name="twitter:image:alt" content="{{ site.author.name }}" />

    <!-- OpenGraph -->
    <meta property="og:title" content="{% if page.title %}{{ site.title }} - {{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:image" content="{{ site.author.avatar | prepend: BASE_PATH | prepend: site.external }}" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="240" />
    <meta property="og:image:height" content="240" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:url" content="{% if page.url == "/404.html" %}{{ BASE_PATH }}/{% else %}{{ page.url | prepend: BASE_PATH | prepend: site.external }}{% endif %}" />

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ BASE_PATH }}/assets/css/site.css" />
    <link rel="icon" type="image/png" href="/assets/img/brain.png">
    
    {% if page.robots %}
        <meta name="robots" content="{{ page.robots }}">
    {% endif %}

    <!-- Add any additional scripts here, if needed -->
    <!-- E.g., Google Analytics -->
    {% include analytics.html %}
</head>

<body{% if page.body %} class="{{ page.body }}"{% endif %}>
    <div id="top"></div>

    <input type="checkbox" id="sidebar-checkbox">
    <label for="sidebar-checkbox" id="sidebar-toggle" class="sidebar-move"><i class="fa fa-bars fa-2x"></i></label>

    <div id="sidebar" class="sidebar-move">
        {% include sidebar.html %}
    </div>

    <div id="sidebar-wrap" class="sidebar-move">
        {{ content }}
    </div>

    <a href="#top" class="to-top sidebar-move" title="Back to top" data-scroll><i class="fa fa-arrow-up fa-2x"></i></a>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="{{ BASE_PATH }}/assets/js/bootstrap.min.js" defer></script>
    <script src="{{ BASE_PATH }}/assets/js/autotrack.js" defer></script>
    <script src="{{ BASE_PATH }}/assets/js/smooth-scroll.min.js" defer></script>
    <script src="{{ BASE_PATH }}/assets/js/site.js" defer></script>
</body>
</html>
